# for practice-api.py
requests
# to convert mbox to json in extract-important-info
https://github.com/PS1607/mbox-to-json
# for making api calls to hubspot
hubspot-api-client
# for rate limiting
ratelimit